@import '~@angular/material/theming';
@import './variables';

::ng-deep {
	@include mat-core();
	@include cdk-overlay();

	.mat-dialog-container {
		padding: 0;
	}

}

.ngx-cdk-lightbox {

	&__container {
		background: $white;
	}

	&__image-container {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	&__image {
		display: block;
		max-width: 100%;
	}

}
