@import '~@angular/material/theming';
@import './variables';

::ng-deep {
	@include mat-core();
	@include cdk-overlay();

	.mat-dialog-container {
		padding: 0;
	}

	.ngx-cdk-lightbox {

		&__container {
			max-width: 100%;
			max-height: 100%;
			position: relative;
		}

		&__close-button {
			position: absolute;
			top: -30px;
			right: -30px;
			width: 28px;
			height: 28px;
			cursor: pointer;
			background: $white;
			border-radius: 50%;
			transition: background-color .25s ease-out;
			padding: 0;
			border: 0;
			padding: 2px;
			box-sizing: border-box;

			&:hover {
				background: darken($white, 7);
			}

			&:active {
				background: darken($white, 14);
			}

		}

		&__image-container {
			margin: 0;
			padding: 0;
			height: 100%;
		}

		&__image-wrapper {
			background: $white;
			position: relative;
		}

		&__image {
			display: block;
			max-width: 100%;
			max-height: 85vh;

			&.is-zoom {
				cursor: crosshair;
			}

		}

		&__backdrop {
			cursor: pointer;
		}

		&__image-caption {
			padding: 6px 12px 8px;
			background: $white;
			border-radius: 0 0 3px 3px;

			&:after {
				content: "";
				display: table;
				clear: both;
			}

		}

		&__zoom {
			position: absolute;
			width: 160px;
			height: 160px;
			margin: -80px 0 0 -80px;
			pointer-events: none;
			left: 0;
			top: 0;
			overflow: hidden;
			border-radius: 50%;
		}

		&__zoom-image {
			display: block;
		}

		&__images-counter {
			float: right;
			margin: 2px 0 0;
		}

		&__arrows-container {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			pointer-events: none;
			z-index: 1;
		}

		&__arrow {
			pointer-events: all;
			cursor: pointer;
			position: absolute;
			background: $white;
			border-radius: 50%;
			padding: 2px;
			width: 28px;
			height: 28px;
			border: 0;
			transition: background-color .25s ease-out, opacity .25s ease-out;
			box-sizing: border-box;
			opacity: 0;

			&:hover {
				background: darken($white, 7);
			}

			&:active {
				background: darken($white, 14);
			}

			&.is-left {
				left: 6px;
			}

			&.is-right {
				right: 6px;
			}

			.ngx-cdk-lightbox__container:hover & {
				opacity: 1;
			}

		}

		&__copyright, &__caption {
			margin: 2px 0 0;
		}

		&__loading-container {
			height: 200px;
			width: 200px;
			background: $white;
			border-radius: 3px;
			display: flex;
		}

		&__loading {
			margin: auto;
		}

	}

}
