<h1>
	ngx-cdk-lightbox
</h1>
<mat-tab-group>
	<mat-tab label="Install">
		<mat-card>
			<mat-card-title>
				Install dependencies
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="installCommand[0]!" language="bash"></code></pre>
				or
				<pre><code [highlight]="installCommand[1]!" language="bash"></code></pre>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>
				Use in your component
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="sampleUsage[0]!" language="typescript"></code></pre>
				<pre><code [highlight]="sampleUsage[1]!" language="typescript"></code></pre>
				<pre><code [highlight]="sampleUsage[2]!" language="typescript"></code></pre>
			</mat-card-content>
		</mat-card>
	</mat-tab>
	<mat-tab label="Photogallery Demo">
		<mat-card>
			<mat-card-title>
				Gallery with default configuration
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config1 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config1)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Gallery with enabled zoom functionality
			</mat-card-title>
			<mat-card-content>
					<pre><code [highlight]="config2 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config2)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Gallery starting at different index, no animations
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config3 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config3)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Hide arrows, hide close icon, disable click on image, disable image preloading
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config4 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config4)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Set zoom to x3, change image counter text
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config5 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config5)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
	<mat-tab label="Mixed Gallery Demo">
		<mat-card>
			<mat-card-title>
				Gallery with images and videos
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config1 | json" language="json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openMixedLightbox(config1)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
</mat-tab-group>
