<h1>
	ngx-cdk-lightbox
</h1>
<mat-tab-group>
	<mat-tab label="Install">
		<mat-card>
			<mat-card-title>
				Install dependencies
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="'npm install ngx-cdk-lightbox --save'"></code></pre>
				or
				<pre><code [highlight]="'yarn add ngx-cdk-lightbox'"></code></pre>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>
				Add imports & provider to your module
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="'import { LightboxModule, LightboxService } from \'ngx-cdk-lightbox\';'"></code></pre>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>
				Import library to your module
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="'@NgModule({\n	imports: [\n		...\n		LightboxModule,\n	],\n	providers: [\n		...\n		LightboxService,\n	],\n})\nexport class SomeModule { }'"></code></pre>
			</mat-card-content>
		</mat-card>
	</mat-tab>
	<mat-tab label="Photogallery Demo">
		<mat-card>
			<mat-card-title>
				Gallery with default configuration
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config1 | json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config1)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Gallery with enabled zoom functionality
			</mat-card-title>
			<mat-card-content>
					<pre><code [highlight]="config2 | json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config2)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Gallery starting at different index, no animations
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config3 | json">asd</code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config3)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Hide arrows, hide close icon, disable click on image, disable image preloading
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config4 | json">asd</code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config4)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-title>
				Set zoom to x3, change image counter text
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config5 | json">asd</code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openLightbox(config5)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
	<mat-tab label="Mixed Gallery Demo">
		<mat-card>
			<mat-card-title>
				Gallery with photos and videos
			</mat-card-title>
			<mat-card-content>
				<pre><code [highlight]="config1 | json"></code></pre>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="openMixedLightbox(config1)">
					Open gallery
				</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
</mat-tab-group>
