<div class="ngx-cdk-lightbox__container">
	<button type="button" *ngIf="config.enableCloseIcon===true" class="ngx-cdk-lightbox__close-icon" [innerHTML]="config.closeIcon | safeHtml" (click)="closeModal()"></button>
	<figure class="ngx-cdk-lightbox__image-container">
		<div class="ngx-cdk-lightbox__image-wrapper">
			<img [src]="photo.source" class="ngx-cdk-lightbox__image" [alt]="photo.description" title="" [ngClass]="{'is-zoom': config.enableZoom}" (mouseover)="imageMouseIn($event)" (mousemove)="imageMouseMove($event)" (mouseout)="imageMouseOut()" (click)="imageClick($event)" />
			<div class="ngx-cdk-lightbox__zoom" *ngIf="displayZoom===true" [style.transform]="'translate('+zoomStyles.x+'px, '+zoomStyles.y+'px)'">
				<img [src]="photo.source" class="ngx-cdk-lightbox__zoom-image" [alt]="photo.description" title="" [style.transform]="zoomTransformation" [style.width]="zoomWidth" [style.height]="zoomHeight" />
			</div>
		</div>
		<figcaption *ngIf="photo.description || config.enableImageCounter===true" class="ngx-cdk-lightbox__image-caption">
			<div class="ngx-cdk-lightbox__images-counter" *ngIf="config.enableImageCounter===true">
				{{ imageCounter }}
			</div>
			{{ photo.description }}
		</figcaption>
	</figure>
</div>
