@if (currentDisplayObject() && (!isLoading() || config.enableAnimations)) {
	<figure class="lightbox-dialog__container"
		(touchstart)="touchStart($event)"
		(touchend)="touchEnd($event)">
		@if (config.enableCloseIcon) {
			<button type="button"
					class="lightbox-dialog__close-button"
					[innerHTML]="config.closeIcon | safeHtml"
					(click)="closeModal()"
					[attr.aria-label]="config.ariaLabelClose || 'Close'">
			</button>
		}

		@if (config.enableArrows && !isLoading()) {
			<div class="lightbox-dialog__arrows-container">
				<button type="button"
						(click)="prevDisplayObject($event)"
						class="lightbox-dialog__arrow is-left"
						[innerHTML]="config.arrowLeft | safeHtml"
						[attr.aria-label]="config.ariaLabelPrev">
				</button>

				<button type="button"
						(click)="nextDisplayObject($event)"
						class="lightbox-dialog__arrow is-right"
						[innerHTML]="config.arrowRight | safeHtml"
						[attr.aria-label]="config.ariaLabelNext">
				</button>
			</div>
		}

		<div 	class="lightbox-dialog__media-wrapper"
				[style.width]="wrapperDimensions().width"
				[style.height]="wrapperDimensions().height">
			@if (currentImage(); as image) {
				<img 	#imageElement
						[src]="image.source"
						class="lightbox-dialog__image"
						[alt]="image.description || ''"
						title=""
						[style.opacity]="imageOpacity()"
						[class.is-zoom]="canZoom()"
						(mouseover)="imageMouseIn($event)"
						(mouseout)="imageMouseOut()"
						(click)="imageClick($event)" />

				@if (displayZoom() && !isLoading()) {
					<div #zoomElement class="lightbox-dialog__zoom">
						<img 	#zoomImageElement
								[src]="image.source"
								class="lightbox-dialog__zoom-image"
								[alt]="image.description || ''"
								title=""
								[style.width]="zoomWidth()"
								[style.height]="zoomHeight()" />
					</div>
				}
			}

			@if (currentVideo(); as video) {
				<video 	#videoElement
						controls
						playsinline
						class="lightbox-dialog__video"
						[style.opacity]="imageOpacity()"
						(loadedmetadata)="onVideoMetadataLoaded($event)">
					@for (source of videoSources(); track source.src) {
						<source [src]="source.src" type="video/mp4" [attr.size]="source.size" />
					}
				</video>
			}
		</div>

		@if (currentDisplayObject(); as object) {
			@if (object.description || config.enableImageCounter || object.copyright) {
				<figcaption class="lightbox-dialog__caption">
					@if (object.description) {
						<div class="lightbox-dialog__description">
							{{ object.description }}
						</div>
					}
					@if (config.enableImageCounter) {
						<div class="lightbox-dialog__counter">
							{{ imageCounter() }}
						</div>
					}
					@if (object.copyright) {
						<div class="lightbox-dialog__copyright">
							&copy;&nbsp;{{ object.copyright }}
						</div>
					}
				</figcaption>
			}
		}
	</figure>
}

@if (isLoading()) {
	<lib-loader [loaderTemplate]="config.loaderTemplate" />
}
